ul {
  list-style: none;
  padding: 1rem;
  margin: 2rem auto;
  width: 90%;
  max-width: 20rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 30rem;
  background-color: #eee;
  border-radius: 12px;
}

li {
  margin: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  a {
    text-decoration: none;
    color: #383838;
  }
  a:hover,
  a:active {
    color: #7e0154;
  }
  &:last-of-type,
  &:nth-of-type(6) {
    border-bottom: none;
  }
}
